@font-face {
	font-family: 'SK-Modernist';
	src: url('./Sk-Modernist-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'SK-Modernist';
	src: url('./Sk-Modernist-Mono.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'SK-Modernist';
	src: url('./Sk-Modernist-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }