
.container {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.content {
    scroll-snap-align: start;
    z-index: 5;
    width: 100vw;
    height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}