nav {
    z-index: 10;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;

    a {
        opacity: 0.8;
        outline: invert;
        outline-color: white 0.8;
        font-variant: all-small-caps;
        padding: 5px 8px;
        font-size: 16pt;
        font-weight: 600;
        font-stretch: semi-expanded;
        padding: 10px 0;
        align-self: center;
    }
}