.container {
    background-color: rgba(#fff, .3);
    overflow-y: scroll;
    height: 100%;
}

.article {
    margin: 20px 0;
    background: #EEE;
    padding: 8px;
    border: black 1px solid;
    border-radius: 15px;

    .info {
        display: inline-flex;
        gap: 20px; 
        margin: 5px 0;
        flex-direction: row;

        & > div > span:first-child {
            font-weight: 700;
        }
    }
}